body{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 80%;
}
.linking-button{
    text-decoration: none;
    background-image: linear-gradient(orange tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: black;
    background-color: brown;
    font-weight: 500;
}
.top-banner{
    background-image: url(top-banner.png);
    background-repeat: no-repeat;
}
    
